# Required python packages for stacken fingerweb
# Can be installed py "pip install -r requirements.txt"

Django >= 2.1.2, < 2.2

django-static-precompiler >= 1.7
markdown
gunicorn
django-environ
psycopg2-binary
python-dateutil
