{% load compile_static static finger %}<!doctype html>
<html>
  <head>
    <title>{% block title %}Fingerweb{% endblock %} - Stacken</title>
    <link rel="stylesheet" href="{% static "fingerweb.scss"|compile %}" />
  </head>
  <body>
    <header>
      <a href="/">Stacken Fingerweb</a>
      {% if user.is_superuser %}
      <span class="user">
	      <a href="/admin/">Admin</a> &bull;
      {% endif %}
      {% if user.is_authenticated %}
	      {{user}} (<a href="/accounts/logout/">log out</a>)
      </span>
      {% endif %}
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <a href="https://www.stacken.kth.se/">Datorföreningen Stacken</a>
      <span>Fingerweb {% build_date %}</span>
    </footer>
  </body>
</html>
