{% load compile_static %}
{% load static %}
<!html>
<html>
  <head>
    <title>{% block title %}Fingerweb{% endblock %} - Stacken</title>
    <link rel="stylesheet" href="{% static "fingerweb.scss"|compile %}" />
  </head>
  <body>
    <header>
      <a href="/">Stacken member-site</a>
      {% if user.is_authenticated %}
      <span class="user">
	{{user}} (<a href="/accounts/logout/">log out</a>)
      </span>
      {% endif %}
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <a href="https://www.stacken.kth.se/">Datorföreningen Stacken</a>
    </footer>
  </body>
</html>
