{% extends "base.html" %}

{% block content %}
{% if user.member %}
<h1>Welcome {{user.member.get_full_name}}</h1>

<p>
  Here is some data we have about you, you can read more about our
  <a href="https://www.stacken.kth.se/en/club/privacy-policy/">privacy policy</a>
  on our homepage. Contact the <a href="https://www.stacken.kth.se/en/club/">board</a>
  if you like to have something changed.
</p>

{% if user.member.joined_years_ago > 8 %}
<p>
  Hi! You have been member of Stacken for quite some time, <strong>{{ user.member.joined_years_ago }}</strong> years!
  Stacken is mainly a club for students. We love to still have you as a member.
  Have you considered to become an <a href="https://www.stacken.kth.se/en/member/support/">support member</a>?
</p>
{% endif %}

<table class="usertable">
  <tr>
    <th>User</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ user.member.get_full_name }}</td>
  </tr>
  <tr>
    <th>Email address</th>
    <td>{{ user.member.email }}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{ user.member.phone }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ user.member.address }}</td>
  </tr>
  <tr>
    <th>KTH account</th>
    <td>{{ user.member.kth_account }}</td>
  </tr>
  <tr>
    <th>Keycard number</th>
    <td>{{ user.member.keycard_number }}</td>
  </tr>
  <tr>
    <th>Date Joined</th>
    <td>{{ user.member.date_joined }}</td>
  </tr>
</table>

<h2>Services on Stacken</h2>

<p>Here is a list of services on Stacken. You can create and manage your account on them here.</p>

<table class="servicetable">
  {% for service in services %}
  <tr>
    <th><a href="/services/{{service.name}}/">{{service}}</a></th>
    <td>{{service.shortdesc}}</td>
    <td class="manage-link"><a href="/services/{{service.name}}/">Manage</a></td>
  </tr>
  {% empty %}
  <tr>
    <td>No services found, <a href="/admin/services/service/add/">create them</a>!</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Your fingerweb account has no member object!</p>
{% endif %}
{% endblock %}
