$red: #ad0000;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.4;
}

body {
    background: white;
    color: #321;
    display: flex;
    flex-flow: column;

    > header {
	background: $red;
	color: white;

	:link, :visited {
	    color: inherit;
	    text-decoration: none;

	    &:hover {
		text-decoration: underline;
	    }
	}
    }
    > header, > footer {
	display: flex;
	flex-flow: row wrap;
	flex-shrink: 0;
	justify-content: space-between;
	padding: 1ex 1em;
    }

    > main {
	padding: 1em 1em 4em;
	flex-grow: 1;
	flex-shrink: 0;
    }
    > footer {
	border-top: solid 1px $red;
	flex-grow: 2;
    }
    > main, > footer {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	max-width: 50em;
	margin: auto;
    }
}

form {
    display: inline-block;
}

p.pwd {
    code:not(.copyable) {
	&:before { content: '"'; display: inline; }
	&:after { content: '"'; display: inline; }
    }
    code.copyable,
    button.copy {
	border: solid .5px #806060;
	display: inline-block;
	height: 1.5em;
	vertical-align: middle;
	padding: 1px 1ex;
    }
    code.copyable {
	border-right: 0;
	border-radius: .3em 0 0 .3em;
    }
    button.copy {
	border-radius: 0 .3em .3em 0;
    }
}
