# Required python packages for stacken fingerweb
# Can be installed py "pip install -r requirements.txt"

Django ~= 2.2.10

django-static-precompiler ~= 1.8.2
markdown ~= 3.1.1
gunicorn ~= 19.9.0
django-environ ~= 0.4.5
psycopg2-binary ~= 2.8.3
python-dateutil ~= 2.8.0
django-post_office ~= 3.5.2
