{% extends "base.html" %}

{% block content %}
<h1>Tjänsten {{service}}</h1>

{{service.description_html |safe}}

{% if has_account %}
<p>{{user}} has an account for this service.</p>
{% if secret %}
<p>Your password is "<code>{{secret}}</code>".</p>
<script type="text/javascript">
  window.history.pushState({}, document.title, document.location);
</script>
<form method="get"><button>Hide password</button></form>
{% else %}
<form method="post">{% csrf_token %}
  <button name="action" value="show">Show password</button>
</form>
{% endif %}
<form method="post">{% csrf_token %}
  <button name="action" value="generate">Reset password</button>
</form>
{% else %}
<p>You don't have a password for this service yet.</p>
<form method="post">{% csrf_token %}
  <button name="action" value="generate">Generate a password</button>
</form>
{% endif %}
{% endblock %}
